
.parent{
    width: 400px;
    height: 400px;
    border: 2px solid green;
    background-color: green;
}

.child{
    width: 200px;
    height: 200px;
    border: 1px solid blue;
    background-color: blue;
    /* transition: all 1s ease-in-out; */
    animation: left-to-right 1s ease-in forwards infinite alternate;
}

.parent:hover .child {
    /* transform: translateX(100%); */
    animation-play-state: paused;
}

@keyframes left-to-right {
    0%{
        transform: translateX(0);
    }
    33%{
        background-color: yellow;
        transform: translateY(100%);
    }
    66%{
        background-color: pink;
        transform: translateX(100%) translateY(100%);
    }
    100%{
        background-color: cornflowerblue;
        transform: translateX(100%);
    }
}